
.gridList {
    border-collapse: collapse;
    border: solid 1px #8DB2E3;
    width: 100%;
    background-color: #ffffff;
    table-layout: fixed;
}

    .gridList .trhList {
        background: #f9f9f9 url(grid-hrow.gif) repeat-x 0 bottom;
    }

    .gridList .trclist {
        cursor: pointer;
    }

    .gridList th {
        border: dotted 1px #CCCCCC;
        color: #333333;
        text-align: center;
        font-weight: normal;
        font-size: 12px;
        font-family: 宋体,Arial;
        line-height: 24px;
        height: 24px;
        overflow: hidden;
    }

    .gridList .trclist td {
        height: 21px;
    }

    .gridList td {
        border: dotted 1px #CCCCCC;
        text-indent: 3px;
        color: #333333;
        font-size: 12px;
        font-family: 宋体,Arial;
    }

    .gridList .rowOver {
        border: 1px solid #dddddd;
        border-left-width: 0px;
        border-right-width: 0px;
        background: #efefef url(grid-row-over.gif) repeat-x left top;
    }

    .gridList .rowSelect {
        background: #DFE8F6 !important;
        border: 1px dotted #a3bae9;
    }

    .gridList .tbmpty {
        height: 40px;
        line-height: 40px;
    }

        .gridList .tbmpty td {
            text-align: center;
        }

    .gridList .colSelect {
        width: 30px;
    }

    .gridList .colNumber {
        width: 30px;
    }

    .gridList .tbfList {
}

      .gridList  .tbfList td {
        border: none;
        color: #333333;
        font-weight: bold;
        clear: both;
    }

.gridList .trhList a {
    height: 24px;
    display: block;
    line-height: 24px;
    background: url(Grid_Sort.png) no-repeat right center;
}

    .gridList .trhList a:Link, .gridList .trhList a:Visited {
        color: #333333;
    }

    .gridList .trhList a:Hover, .gridList .trhList a:Active {
        color: #333333;
    }



.gridList .AscendingHeaderStyle {
    background: #f9f9f9 url(Grid_SortBg.png) repeat-x 0 bottom;
}

    .gridList .AscendingHeaderStyle a {
        background: url(Grid_SortAsc.png) no-repeat right center;
    }

.gridList .DescendingHeaderStyle {
    background: #f9f9f9 url(Grid_SortBg.png) repeat-x 0 bottom;
}

    .gridList .DescendingHeaderStyle a {
        background: url(Grid_SortDesc.png) no-repeat right center;
    }



/*-------------------------
	分页控件样式
-------------------------*/

.gridPager {
    line-height: 28px;
    height: 28px;
    font-size: 12px;
    color: #295897;
    border-top: 1px solid #8DB2E3;
    background: url(ico_PagerBg.gif) repeat-x top left;
}

/*.MyPagerPre {
    height: 28px;
    line-height: 28px;
    background-color: Red;
}*/

.gridPager .PagerLeft {
    float: left;
    line-height: 28px;
    height: 28px;
    text-align: left;
    padding-left: 3px;
    color: #444444;
}

.gridPager .PagerRight {
    float: right;
    line-height: 28px;
    height: 28px;
    text-align: right;
}

.gridPager a {
    font-weight: bold;
    margin-right: 10px;
}

    .gridPager a:Link, .gridPager a:Visited {
        color: #295897;
    }

    .gridPager a:Hover, .gridPager a:Active {
        color: #295897;
    }

.gridPager .pager-current:Link, .gridPager .pager-current:Visited {
    color: Red;
}

.gridPager .pager-current:Hover, .gridPager .pager-current:Active {
    color: red;
}
/*-------------------------
	菜单控件样式
-------------------------*/

.tbdOperateMenu ol {
    background-image: url(ico_MyOperateBg.gif);
    background-repeat: repeat-y;
    background-color: #F1F9FC;
    position: absolute;
    width: 170px;
    border: 1px ridge #ACACAC;
    background-position: left 2px;
    display: none;
}

    .tbdOperateMenu ol li {
        margin: 1px;
        padding: 0;
        vertical-align: middle;
    }

    .tbdOperateMenu ol a {
        line-height: 180%;
        padding-left: 25px;
        display: block;
        text-align: center;
        background: no-repeat 3px center;
        color: #003399;
        height: 23px;
        text-decoration: none;
    }

        .tbdOperateMenu ol a:Link, .tbdOperateMenu ol a:Visited, .tbdOperateMenu ol a:Active {
            color: #00156E;
            background: no-repeat 3px center;
            padding-left: 25px;
            height: 23px;
        }

        .tbdOperateMenu ol a:Hover {
            color: #00156E;
            background: #FFDB7E no-repeat 2px center;
            padding-left: 25px;
            border: solid 1px #88A5D4;
            height: 21px;
        }

.tbdOperate {
}

    .tbdOperate a {
        display: inline-block;
        padding-left: 3px;
        padding-right: 3px;
        line-height: 21px;
    }

    .tbdOperate input {
        padding-left: 3px;
        padding-right: 3px;
        display: inline-block;
        line-height: 21px;
    }

    .tbdOperate a:Link, .tbdOperate a:Visited {
        display: inline-block;
        padding-left: 3px;
        padding-right: 3px;
        line-height: 21px;
    }

    .tbdOperate a:Hover, .tbdOperate a:Active {
        display: inline-block;
        padding-left: 3px;
        padding-right: 3px;
        line-height: 21px;
        text-decoration: underline;
    }
