<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LogEntities" connectionString="metadata=res://*/Entity.LogModel.csdl|res://*/Entity.LogModel.ssdl|res://*/Entity.LogModel.msl;provider=Devart.Data.MySql;provider connection string=&quot;user id=root;host=127.0.0.1;database=gao7manage&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>