<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <NetworkTimeout>20</NetworkTimeout>
  <Charset>ISO8859-1</Charset>
  <MonitorTimeout></MonitorTimeout>
  <TrackerServers>
    <TrackerServer Address="192.168.10.106" Port="22122" ControlGroup="g1"></TrackerServer>
  </TrackerServers>
</configuration>
