<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Log" type="WTF.Framework.LogSection,WTF.Framework"/>
  </configSections>
  <Log  Application="SevenWeb" Host=""  LogWriteMap=""  IsDispose="false" IsRecordSql="false" IsRecordSolrSql="false" IsRecordOperation="false"  >
    <Error ErrorIsRedirect="false" ErrorHint="对不起页面出错，请与管理员联系" ErrorNoFoundUrl="/404.htm" ErrorUrl="../../Error/Errors.aspx" />
  </Log>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>
