
.xhe_vista span.xheBtnresourceImg {background-position:-440px 0}
.xhe_vista span.xheBtnresourceFlash {background-position:-460px 0}
.xhe_vista span.xheBtnresourceMedia {background-position:-480px 0}
.xhe_vista span.xheBtnresourceFile {background-position:-380px 0}
.xhe_vista span.xheBtnGooglemap 
{
    background:url(img/map.gif) no-repeat center 3px;
}

.xhe_o2007silver span.xheBtnresourceImg {background-position:-440px 0}
.xhe_o2007silver span.xheBtnresourceFlash {background-position:-460px 0}
.xhe_o2007silver span.xheBtnresourceMedia {background-position:-480px 0}
.xhe_o2007silver span.xheBtnresourceFile {background-position:-380px 0}
.xhe_o2007silver span.xheBtnGooglemap 
{
    background:url(img/map.gif) no-repeat center 3px;
}

.xhe_o2007blue span.xheBtnresourceImg {background-position:-440px 0}
.xhe_o2007blue span.xheBtnresourceFlash {background-position:-460px 0}
.xhe_o2007blue span.xheBtnresourceMedia {background-position:-480px 0}
.xhe_o2007blue span.xheBtnresourceFile {background-position:-380px 0}
.xhe_o2007blue span.xheBtnGooglemap 
{
    background:url(img/map.gif) no-repeat center 3px;
}



.xhe_nostyle span.xheBtnresourceImg {background-position:-440px 0}
.xhe_nostyle span.xheBtnresourceFlash {background-position:-460px 0}
.xhe_nostyle span.xheBtnresourceMedia {background-position:-480px 0}
.xhe_nostyle span.xheBtnresourceFile {background-position:-380px 0}
.xhe_nostyle span.xheBtnGooglemap 
{
    background:url(img/map.gif) no-repeat center 3px;
}


.xhe_default span.xheBtnresourceImg {background-position:-440px 0}
.xhe_default span.xheBtnresourceFlash {background-position:-460px 0}
.xhe_default span.xheBtnresourceMedia {background-position:-480px 0}
.xhe_default span.xheBtnresourceFile {background-position:-380px 0}
.xhe_default span.xheBtnGooglemap 
{
    background:url(img/map.gif) no-repeat center 3px;
}